BACKEND_INTERNAL_URL=https://wedit-be-c.onrender.com
BACKEND_CLIP_URL=https://wedit-be-b.onrender.com

NEXT_PUBLIC_API_URL_C=https://wedit-be-c.onrender.com/api/v1
NEXT_PUBLIC_API_B_URL=https://wedit-be-b.onrender.com/api
NEXT_PUBLIC_API_AI_URL=https://wedit-be-a.onrender.com/api

NEXT_PUBLIC_TEST_PROVIDER=KAKAO
NEXT_PUBLIC_TEST_SOCIAL_TOKEN=test-account-1